body, h1, h2, h3, p, input, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    background-image: url('media/pexels-ella-olsson-1640777.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
}

.logo {
    background-color: black;
    max-width: 350px;
    margin-right: 20px;
}

.banner_text {
    background-color: black;
    text-align: left;
}

form {
    max-width: 100%;
    margin: 10px auto;
    border-color: black;
    padding: 10px;
    color: black;
}

.userInfo {
    float: left;
}

.days_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input {
    width: 350px;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 8px;
}

.day label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.day input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: #fff;
    padding: 30px 20px;
    border: white;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

button:hover {
    background-color: green;
}
